%link(rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
%link(rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/docs.css")
@grid(fluid="1" grid="4 -1 7")
  _
    %h1 HAML SNIP
    %h4 just fun
  _
    @grid(fluid="1" grid="6 6")
      _
        %h2 warning
        %ul
          %li some flaws need to fix
          %li snips shiped are test, no actual value
      _
        %h2 todo
        %ul
          %li support widget, not just snip
          %li handy and beautiful syntax
